<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDao">
	<resultMap id="UserMap" type="com.entity.security.User">
		<id column="USER_ID" property="userid"  />
		<result column="USER_EMAIL" property="email"/>
		<result column="USER_PASSWORD" property="password" />
	</resultMap>
	<sql id='TABLE_NAME'>USER</sql>
	<sql id='defaultSchema'>PANDA</sql>
	<select id="findByEmail" parameterType="java.lang.String" resultMap="UserMap">
		select * from <include refid="defaultSchema" />.<include refid="TABLE_NAME" /> where USER_EMAIL=#{email}
	</select>
	<insert id="insertUser" parameterType="com.entity.security.User">
		insert into <include refid="defaultSchema" />.<include refid="TABLE_NAME" />(USER_EMAIL,USER_PASSWORD) values(#{email},#{password})
	</insert>
	<update id="updateUser" parameterType="com.entity.security.User">
		update <include refid="defaultSchema" />.<include refid="TABLE_NAME" /> set USER_PASSWORD=#{password} where USER_EMAIL=#{email}
	</update>
	<select id="findAllUser" resultMap="UserMap"> 
		select * from <include refid="defaultSchema" />.<include refid="TABLE_NAME" />
	</select>
</mapper>