<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">
	<resultMap id="Task" type="com.entity.work.TaskTemplate">
		<id column="TASK_ID" property="taskId" />
		<result column="TASK_NAME" property="taskName" />
		<result column="CATALOG_ID" property="catalogId" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="LAST_MODIFY" property="lastModify" />
		<result column="COMMENTS" property="comments" />
	</resultMap>

	<sql id='TASK'>TASK</sql>
	<sql id='GROUP_TASK'>GROUP_TASK</sql>
	<!-- task sql -->
	<select id="findTasksByGroupId" parameterType="int" resultMap="Task">
		SELECT T.* FROM
		<include refid="defaultSchema" />
		.
		<include refid="GROUP_TASK" />
		GT,
		<include refid="defaultSchema" />
		.
		<include refid="TASK" />
		T WHERE GT.TASK_ID=T.TASK_ID AND GT.GROUP_ID=#{groupId}
	</select>
</mapper>