<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">
	<resultMap id="Task" type="com.entity.work.TaskTemplate">
		<id column="TASK_ID" property="taskId" />
		<result column="TASK_NAME" property="taskName" />
		<result column="CATALOG_ID" property="catalogId" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="LAST_MODIFY" property="lastModify" />
		<result column="COMMENTS" property="comments" />
		<result column="TASK_PARAMETER" property="taskParameter" />
		<result column="RELATIVE_TASK_ID" property="relativeId" />
		<result column="TASK_INDEX" property="index" />
	</resultMap>

	<sql id='TASK'>TASK</sql>
	<sql id='GROUP_TASK'>GROUP_TASK</sql>
	<sql id='TASK_PARAMETER'>TASK_PARAMETER</sql>
	<!-- task sql -->
	<select id="findTasksByGroupId" parameterType="int" resultMap="Task">
		SELECT T.*,TP.TASK_PARAMETER,GT.RELATIVE_TASK_ID,GT.TASK_INDEX FROM
		<include refid="defaultSchema" />
		.
		<include refid="GROUP_TASK" />
		GT,
		<include refid="defaultSchema" />
		.
		<include refid="TASK" />
		T,<include refid="defaultSchema" />
		.
		<include refid="TASK_PARAMETER" /> TP WHERE GT.TASK_ID=T.TASK_ID AND T.TASK_ID=TP.TASK_ID AND GT.GROUP_ID=#{groupId} order by GT.TASK_INDEX
	</select>
	<select id="findTaskByTaskId" parameterType="int" resultMap="Task">
		SELECT T.*,TP.TASK_PARAMETER,GT.RELATIVE_TASK_ID,GT.TASK_INDEX FROM <include refid="defaultSchema" />.<include refid="TASK" /> T,
		<include refid="defaultSchema" />.<include refid="TASK_PARAMETER" /> TP,
		<include refid="defaultSchema" />.<include refid="GROUP_TASK" /> GT WHERE GT.TASK_ID=T.TASK_ID AND TP.TASK_ID=T.TASK_ID AND T.TASK_ID=#{taskId} 
	</select>
	<insert id="insertGroupTask" parameterType="com.entity.work.Task">
		insert into <include refid="defaultSchema" />.<include refid="GROUP_TASK" /> (GROUP_ID,TASK_ID,RELATIVE_TASK_ID,TASK_INDEX) VALUES (#{groupId},#{taskId},#{relativeId},#{index})
	</insert>
	<insert id="insertTask" parameterType="com.entity.work.Task" useGeneratedKeys="true" keyProperty="taskId" keyColumn="TASK_ID">
		insert into <include refid="defaultSchema" />.<include refid="TASK" /> (TASK_NAME,CATALOG_ID,CREATE_DATE,LAST_MODIFY,COMMENTS) VALUES (#{taskName},#{catalogId},#{createDate},CURRENT TIMESTAMP,#{comments})
	</insert>
	<insert id="insertTaskParameter" parameterType="com.entity.work.Task">
		insert into <include refid="defaultSchema" />.<include refid="TASK_PARAMETER" /> (TASK_ID,TASK_PARAMETER) VALUES(#{taskId},xmlparse(document #{taskParameter} preserve whitespace))
	</insert>
	
	<update id="updateGroupTask" parameterType="com.entity.work.Task">
		update <include refid="defaultSchema" />.<include refid="GROUP_TASK" /> set RELATIVE_TASK_ID=#{relativeId},TASK_INDEX=#{index} where TASK_ID=#{taskId}
	</update>
	
	<update id="updateTask" parameterType="com.entity.work.Task">
		update <include refid="defaultSchema" />.<include refid="TASK" /> set TASK_NAME=#{taskName},CATALOG_ID=#{catalogId},COMMENTS=#{comments},LAST_MODIFY=CURRENT TIMESTAMP where TASK_ID=#{taskId}
	</update>
	
	<update id="updateTaskParameter" parameterType="com.entity.work.Task">
		update <include refid="defaultSchema" />.<include refid="TASK_PARAMETER" /> set TASK_PARAMETER=xmlparse(document #{taskParameter} preserve whitespace) where TASK_ID=#{taskId}
	</update>
	
	<delete id="deleteGroupTask" parameterType="com.entity.work.Task">delete from <include refid="defaultSchema" />.<include refid="GROUP_TASK" /> where TASK_ID=#{taskId}</delete>
	
	<delete id="deleteTask" parameterType="com.entity.work.Task">delete from <include refid="defaultSchema" />.<include refid="TASK" /> where TASK_ID=#{taskId}</delete>
	
	<delete id="deleteTaskParameter" parameterType="com.entity.work.Task">delete from <include refid="defaultSchema" />.<include refid="TASK_PARAMETER" /> where TASK_ID=#{taskId}</delete>

</mapper>