<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">
		<resultMap id="TaskLog" type="com.entity.work.TaskLog">
			<id column="LOG_ID" property="logId"/>
			<result column="GROUP_ID" property="groupId" />
			<result column="USER_ID" property="userId" />
			<result column="TASK_LOG" property="taskLog" />
			<result column="EXECUTE_DATE" property="executeDate" />
			<result column="TASK_STATUS" property="taskStatus" />
		</resultMap>
		<sql id='TASK_LOG'>TASK_LOG</sql>
		
		<select id="findTaskLogsByGroupId" parameterType="int" resultMap="TaskLog">
		select TL.* from <include refid="defaultSchema" />.<include refid="TASK_LOG" /> TL where TL.GROUP_ID=#{groupId}
		</select>
		
		<insert id="addTaskLog" parameterType="com.entity.work.TaskLog">
		insert into <include refid="defaultSchema" />.<include refid="TASK_LOG" /> (GROUP_ID,USER_ID,TASK_LOG,EXECUTE_DATE,TASK_STATUS) values (#{groupId},#{userId},#{taskLog},#{executeDate},#{taskStatus})
		</insert>
		
		<delete id="deleteTaskLogsByGroupId" parameterType="int" >
		delete from <include refid="defaultSchema" />.<include refid="TASK_LOG" /> TL where TL.GROUP_ID=#{groupId}
		</delete>
		
		<delete id="deleteTaskLog" parameterType="com.entity.work.TaskLog" >
		delete from <include refid="defaultSchema" />.<include refid="TASK_LOG" /> TL where TL.LOG_ID=#{logId}
		</delete>
		
		<select id="findTaskLogByLogId" parameterType="int" resultMap="TaskLog">
		select TL.* from <include refid="defaultSchema" />.<include refid="TASK_LOG" /> TL where TL.LOG_ID=#{logId}
		</select>
</mapper>